/* CSS Entry Point */

* {
	box-sizing: border-box;
}

.app {
	margin: 0;
	background-color: #f5f5f1;
}
header {
	height: 125px;
	border: 1px solid #ccc;
	background-color: white;
	// list-style: none;
}
header ul {
	list-style: none;
}
.top {
	height: 81px;
	 display: flex;
	  justify-content: space-between;
	 align-items: center;
	 text-decoration: none;
}
.logo  a {
	font-size: 50px;
	padding-left: 30px;
	color: #f76400;
	text-decoration: none;
}
.searchInput input {
	height: 34px;
	font-size: 13px;
}
 .searchInput button {
	background-color: #2ba8c6;
	color: white;
	border-radius: 3px;
	height: 34px;
}
//.topanchor {
	//justify-content: end;

.topanchor a {
	text-decoration: none;
	color: #2ba8c6;
	padding: 10px;
}
.topanchor button {
	background-color: #ffffff;
	color: #2ba8c6;
	border-radius: 3px;
	padding-left: 0;
	height: 34px;
}

.bottom {
	// display: inline-block;
	height: 44px;
	// text-decoration: none;
	display: flex;
	justify-content: space-around;
}
.bottom li {
	display: inline-block;
	color: #797979;
	padding-left: 10px;
	padding-right: 10px;

}
.extras ul {
	margin: 0;
	display: inline-block;
}
.body {
	background-color: #f1f1f5;
}
aside {
	width: 239px; 
	border: 1px solid #ccc;
	float: left;
	list-style: none;
	margin-left: 130px;
	background-color: white;
}
aside h4 {
	padding-left: 2px;
	margin-bottom: 10px;
}
.nav1 {
	border: 1px solid #e1e3df;
}
.nav1 ul {
	font-weight: 500;
	padding-left: 5px;
}
.nav1 h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
}
.nav1 li {
	color: #2ba8c6;
	font-size: 16px;
	padding: 5px;
	padding-left: 22px;
}
.nav2 {
	border: 1px solid #e1e3df;
	font-size: 16px;
	padding-left: 4px;
}
.nav2 input {
	display: inline-block;
}
.nav2 span {
	color: #2ba8c6;
}
//.nav2 a {
	//height: 15px;
	//width: 15px;
	//border: 1px solid #ccc;
//}
.colors {
	height: 22px;
	width: 22px;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 3px;
	
}
main {
	float: right;
	width: calc(100% - 369px;);
}
.image {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 3px;
	width: 226px;
	display: inline-block;
	background-color: white;

	.item-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
footer {
	clear: both;
	// list-style: none;
}
footer ul {
	list-style: none;
}
.footertop {
	height: 103px;
	border: 1px solid #ccc;
	// display: inline-block;
	//display: flex;
	//justify-content: center;
	background-color: #f5f5f1;
	text-align: center;
	padding: 20px;
}
.email input {
	 text-align: center;
	height: 34px;
	//max-width: auto;
	width: 250px;
}
.email button {
	height: 34px;
	border-radius: 3px;
	background-color: #2ba8c6;
	color: white;
}
.footermiddle {
	height: 291px;
	border: 1px solid #ccc;
	// display: inline-block;
	display: flex;
	justify-content: center;
	background-color: #f5f5f1;
}
.footermiddle li {
	color: #2ba8c6;
	padding: 2px;
	font-size: 15px;
}
.footermiddle div {
	display: inline-block;
}
.footerbottom {
	height: 135px;
	border: 1px solid #ccc;
	text-align: center;
	//align-content: flex-end;
	// display: inline-block;
	background-color: #f5f5f1;
}
.alinks {
	padding-top: 50px;
}
.alinks a{
	text-decoration: none;
	padding: 5px;
	color: #666;
	font-size: 13px;
	border: 1px solid #ccc;
}
.alinks button {
	width: 140px;
	margin-left: 44px;
	height: 34px;
}
.spanbottom span {
	padding-right: 7px;
	font-size: 12px;
}






